/*Custom css design goes here*/
nav {
  background-color: #8ADCFF;
}

body {
  background-color: white;
}

#homeMain,
#errorPage {
  background-color: #D9F4FF;
}

tr {
  background-color: #D9F4FF;
}

@media print {
  #statisticsTable {
    visibility: visible;
  }

  #navHeader,
  #detailedSurvey,
  footer,
  #addSurveyButton,
  #printButton,
  #surveyTitle,
  br {
    display: none;
  }
}